@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.activeButton {
  background-color: #f03e3e;
  color: black;
}
