@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
  width: 100vw;
  height: 100vh;
  background-image: url("./assets/images/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.register-bg {
  margin-top: -16px;
  background-attachment: fixed;
  background-image: url(https://thumb.tildacdn.com/tild6432-3336-4166-a634-356139616663/-/format/webp/scott-graham-5fNmWej.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
